#       PYTHON BRO !!!!

In [ ]:
print("Hello World")

# Variables

In [ ]:
message="Hello Python world!"
print(message)

## Strings
- "This is a string."
- 'This is also a string.'

In [5]:
name="ada lovelace"
print(name.title())
# title() = displays each word in titlecase i.e. each words begins with capital letter
print(name.upper())
# upper() =returns the string in uppercase
print(name.lower())
# lower() return the string in lowercase.

Ada Lovelace
ADA LOVELACE

## Combining or concatenating Strings

In [9]:
first_name="ada"
last_name="lovelace"
full_name=first_name+" "+last_name
print(full_name)
# here + symbol is used to combine the strings
print("Hello"+" "+full_name.title()+ "!")
message = "Hello, "+full_name+"!"
print(message)

ada lovelace
Hello Ada Lovelace!
Hello, ada lovelace!

### Adding white spaces with tabs or newline

In [11]:
print("python")
print("\tpython")

python
	python

In [12]:
print("Languages:\nPyhton\nC\nJavaScript")

Languages:
Pyhton
C
JavaScript

### Stripping Whitespace

In [13]:
language='python '
print(language.rstrip())
# rstrip() removes the whitespace from right side of a word
print(language.lstrio())
# lstrip() removes the whitespace from left side of a word
print(language.strip())
# strip() removes the whitespace from both side of a word

python

In [16]:
text=' This is a try '
print(text.strip())

 This is a try

### Avoding syntax errors with strings

In [2]:
msg="One of the python's strengths is its diverse community."
print(msg)

One of the python's strengths is its diverse community.

In [3]:
msg='One of the python's strengths is its diverse community.'
print(msg)

SyntaxError: invalid syntax (<ipython-input-3-0c62ae49ae68>, line 1)

In [4]:
# correct syntax
msg='One of the python\'s strengths is its diverse community.'
print(msg)

One of the python's strengths is its diverse community.

## Numbers

## Integers

In [5]:
2+3

5

In [6]:
3-2

1

In [8]:
#double * sign represent power
3**2
5**2

25

## Floats

In [9]:
0.1+0.1

0.2

In [10]:
0.2+0.2

0.4

### Avoding type errors with str() function

In [12]:
age=23
message="Happy"+age+'rd Birthday!'
print(message)
# here we cant use integer with string i.e. age

TypeError: can only concatenate str (not "int") to str

In [15]:
# to overcome above problem we wrap variable age in str() function i.e.age
message="Happy "+str(age)+"rd birthday"
print(message)

Happy 23rd birthday

# List
- is a collection of items in a particular order
- includes letters of alphabet,digits,names of people 
- indicated by square bracket,[]

In [18]:
bicycles=['trek','cannondale','redline','specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [19]:
#accesing elements in list
print(bicycles[0])

trek

In [21]:
#index postion start from 0, not 1
# index -1 return the last items from the list
bicycles[-1]
bicycles[-2]

'redline'

In [23]:
message="My first bicycle was a "+bicycles[0].title()+"."
print(message)

My first bicycle was a Trek.

### Changing, adding and removing elements

In [25]:
#### modifying elements in list
motorcycles=['honda','yamaha','suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [26]:
motorcycles[0]='ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

In [28]:
# adding elements to a list
motorcycles=['honda','yamaha','suzuki']
motorcycles.append('ducati')
print(motorcycles)

#append is used to add the element to the end of the list

['honda', 'yamaha', 'suzuki', 'ducati']

In [31]:
# inserting elements to a list
motorcycles=['honda','yamaha','suzuki']
motorcycles.insert(0,'ducati')
print(motorcycles)

# insert(index,object) opens the space in specified index and stores object at that location.This operation shifts every other value in the list one position to the right

['ducati', 'honda', 'yamaha', 'suzuki']

In [33]:
# removing the elements from the list
motorcycles=['honda','yamaha','suzuki']
print(motorcycles)

del motorcycles[0]
print(motorcycles)
# the above code delete the content of specified index

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [35]:
# we can also use pop() method to remove an item fron the list
motorcycles=['honda','yamaha','suzuki']
print(motorcycles)

popped_motorcycles=motorcycles.pop()
print(motorcycles)
print(popped_motorcycles)
# pop() removes the last item from the list

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [37]:
motorcycles=['honda','yamaha','suzuki']
last_owned = motorcycles.pop()
print("The last motorcyle I was a "+ last_owned.title()+".")

The last motorcyle I was a Suzuki.

In [39]:
#popping items from any position in a  list
motorcycles=['honda','yamaha','suzuki']
first_owned=motorcycles.pop(0)
print('The first motorcycle I onwed was a '+ first_owned.title())

#pop(index) return an item from the specified index

The first motorcycle I onwed was a Honda

In [40]:
# removing an item by value
motorcycles=['honda','yamaha','suzuki']
print(motorcycles)

motorcycles.remove('honda')
print(motorcycles)

#remove(object) remove the mentioned object from the list

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

### Organizing a list

In [41]:
#sorting a list permanently with the sort() method
cars=['BMW','Audi','Toyota','Hyundai']
cars.sort()
print(cars)
#sort() method sort the conent of list in alphabetical order

['Audi', 'BMW', 'Hyundai', 'Toyota']

In [43]:
cars.sort(reverse=True)
print(cars)
#sort(reverse=True) sort the contents of list in reverse alphabetical order

['Toyota', 'Hyundai', 'BMW', 'Audi']

In [44]:
# sorting a list temporarily with sorted() fucntion
cars=['BMW','Audi','Toyota','Hyundai']
print("Sorted List:")
print(sorted(cars))
print("Original List:")
print(cars)

Sorted List:
['Audi', 'BMW', 'Hyundai', 'Toyota']
Original List:
['BMW', 'Audi', 'Toyota', 'Hyundai']

In [46]:
#printing a list in reverse order
cars=['BMW','Audi','Toyota','Hyundai']
print(cars)

cars.reverse()
print(cars)
#reverse() doesn't sort the in reverse alphabetical order , it simpy reverses the order of the list

['BMW', 'Audi', 'Toyota', 'Hyundai']
['Hyundai', 'Toyota', 'Audi', 'BMW']

In [47]:
# finding the length of the list
cars=['BMW','Audi','Toyota','Hyundai']
len(cars)

4

## working with lists

### looping through an entire list

In [2]:
magicians =['alice','david','corolina']
for magician in magicians:
    print(magician)

alice
david
corolina

#### doing more work within a loop

In [4]:
magicians =['alice','david','corolina']
for magician in magicians:
    print(magician.title()+", that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Corolina, that was a great trick!

In [6]:
magicians =['alice','david','corolina']
for magician in magicians:
    print(magician.title()+", that was a great trick!")
print("\nThank you, everyone. That was a great magic show!")

Alice, that was a great trick!
David, that was a great trick!
Corolina, that was a great trick!

Thank you, everyone. That was a great magic show!

## making numerical lists

### Using the range() function
- range() funciton generate a series of numbers

In [8]:
for value in range(1,5):
    print(value)

1
2
3
4

In [9]:
# using range() to make a list of numbers
numbers=list(range(1,5))
print(numbers)

[1, 2, 3, 4]

In [10]:
even_numbers=list(range(1,11,2))
print(even_numbers)

[1, 3, 5, 7, 9]

In [11]:
squares=[]
for value in range(1,11):
    square=value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Simple statistics with a ist of numbers

In [15]:
digits=[1,2,3,4,5,6,7,8,9,0]
min(digits)
max(digits)
sum(digits)

45

In [18]:
squares=[]
for value in range(1,11):
    square=value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
# the above code can also be written as
squares=[value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### working with part of list

#### slicing a list

In [7]:
players=['charles','martina','micheal','florence','eli']
print(players[0:3]) #print players from 0 to 3 index
print(players[1:4]) #print players from index 1 to 4
print(players[:4]) # print players from index 1st to 4th index
print(players[2:]) # print the name of players from 2nd index to last
print(players[-3:]) # print the last 3 players name

['charles', 'martina', 'micheal']
['martina', 'micheal', 'florence']
['charles', 'martina', 'micheal', 'florence']
['micheal', 'florence', 'eli']
['micheal', 'florence', 'eli']

### looping through a slice

In [10]:
players=['charles','martina','micheal','florence','eli']
print('here are the first three players on my team:')
for player in players[0:3]:
    print(player.title())

here are the first three players on my team:
Charles
Martina
Micheal

### copying a list

In [13]:
my_foods=['pizza','falafel','carrot','carrot cake']
friends_foods=my_foods[:] # : symbol denotes slice that starts from first item and end with last item
print("My favorite foods are:")
print(my_foods)
print("my friend favorite foods are:")
print(friends_foods)
friends_foods.append('ice cream')
print(friends_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot', 'carrot cake']
my friend favorite foods are:
['pizza', 'falafel', 'carrot', 'carrot cake']
['pizza', 'falafel', 'carrot', 'carrot cake', 'ice cream']

In [15]:
my_foods=['pizza','falafel','carrot','carrot cake']
friends_foods=my_foods 
my_foods.append('cannoli')
friends_foods.append('ice cream')
print("My favorite foods are:")
print(my_foods)

print("my friend favorite foods are:")
print(friends_foods)
# here we try to copy without slicing so cannoli and icecream appears both in my_foods and friends_foods
# Here, instead of copying we set friends_foods = my_foods

My favorite foods are:
['pizza', 'falafel', 'carrot', 'carrot cake', 'cannoli', 'ice cream']
my friend favorite foods are:
['pizza', 'falafel', 'carrot', 'carrot cake', 'cannoli', 'ice cream']

## Tuples
- Tuples looks like a list but we can use parenthesis instead of square bracket
- once we define a tuple ,we can access individual elements by usng each items index, like a list

In [17]:
dimension=(200,50)
print(dimension[0])
print(dimension[1])

200
50

In [18]:
## assigning value in tuples
dimension[0]=250
#we cannot assign value in tuples

TypeError: 'tuple' object does not support item assignment

In [20]:
### looping through all values in tuples
dimensions=(200,50)
for dimension in dimensions:
    print(dimension)

200
50

In [22]:
### writing over tuples
dimensions=(250,50)
print('dimension are:')
for dimension in dimensions:
    print(dimension)
dimensions=(450,250)
print('modified dimensions:')
for dimension in dimensions:
    print(dimension)

dimension are:
250
50
modified dimensions:
450
250

## If Else Statement

In [1]:
# simple example
cars=['audi','bmw','subaru','toyota']

for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

In [2]:
answer=17
if answer!=42:
    print("That is not the correct answer. Please try again!")

That is not the correct answer. Please try again!

In [6]:
#Checking multiple conditions
age_0=22
age_1=18
age_0>=21 and age_1>=21

False

In [10]:
#checking whether a value is in a list
requested_toppings=['mushrooms','onions','pineapple']
'mushrooms' in requested_toppings
'pepperoni' in requested_toppings

False

In [14]:
#checking whether a value is not in a list
banned_users=['andrew','carolina','david']
user='marie'

if user not in banned_users:
    print(user.title()+' you can post a response if u wish')

Marie you can post a response if u wish

## if statements

### simple if statement

if conditional_test:
    do something

In [16]:
age=19
if age>=18:
    print('you are old enough to vote!')

you are old enough to vote!


### if else statement

In [17]:
age=17
if age>=18:
    print('you are old enough to vote!')
else:
    print('sorry, you are too young to vote.')

sorry, you are too young to vote.

### if-elif-else chain

In [19]:
age=12
if age<4:
    print('your admission cost is $0.')
elif age<18:
    print('your admission cost is $5.')
else:
    print('your admission cost is $10.')

your admission cost is $5.

In [21]:
## multiple elif blocks
age =12
if age<4:
    price=0
elif age<18:
    price=5
elif age<65:
    price=10
else:
    price=5

print('Your admission cost is $'+str(price)+'.')

Your admission cost is $5.

In [23]:
# omitting the else block
age=12

if age<4:
    price=0
elif age<18:
    price=5
elif price<65:
    price=10
elif price>=65:
    price=5

print('your admission cost is '+str(price)+'.')

# python doesnt require else block at the end of an if-elif chain

your admission cost is 5.

In [24]:
# testing multiple conditions

requested_toppings=['mushrooms','extra cheese']

if 'mushrooms' in requested_toppings:
    print("Adding mushrooms.")
if 'pepperoni' in requested_toppings:
    print('Adding pepporoni.')
if 'extra cheese' in requested_toppings:
    print('Adding extra cheese.')

print('\nFinished making your pizza!')

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

## Using if statements with lists

In [27]:
requested_toppings=['mushrooms','green peppers','extra cheese']

for requested_toppings in requested_toppings:
    print('Adding '+ requested_toppings+".")
print('\nFinished making your pizza!')

Adding mushrooms.
Adding green peppers.
Adding extra cheese.

Finished making your pizza!

In [29]:
requested_toppings=['mushrooms','green peppers','extra cheese']

for requested_toppings in requested_toppings:
    if requested_toppings=='green peppers':
        print("Sorry we are out of green peppers right now")
    else:
        print('Adding '+ requested_toppings+".")
print('\nFinished making your pizza!')

Adding mushrooms.
Sorry we are out of green peppers right now
Adding extra cheese.

Finished making your pizza!

In [32]:
# checking that a list is not empty

requested_toppings=[]

if requested_toppings:
    for requested_topping in requested_toppings:
        print('Adding '+ requested_topping+'.')
else:
    print('Are you sure want a plain pizza?')
# here if statement check if there is at least one item in list.if true then it process for loops else move to else condition

Are you sure want a plain pizza?

In [37]:
# using multiple lists
available_toppings=['mushrooms','olives','green peppers','pepperoni','pineapple','extra cheese']

requested_toppings=['mushrooms','french fries','extra cheese']

for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
        print('Adding '+ requested_topping+'.')
    else:
        print('Sorry we dont have '+requested_topping+'.')

print("\nFinished making your pizza!")

Adding mushrooms.
Sorry we dont have french fries.
Adding extra cheese.

Finished making your pizza!